@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root {
    --surface-color: #f7f7f7;
    --curve: 10;
}

body {
    font-family: "Poppins", helvetica;
}