
.icon_link {
    cursor: pointer;
    transition: 0.2s;
}

/* https://codepen.io/sosuke/pen/Pjoqqp */
.icon_link:hover {
    scale: 1.1;
    filter: invert(61%) sepia(89%) saturate(3793%) hue-rotate(84deg) brightness(126%) contrast(115%);
}