.container {

    width: 650px;
    height: 350px;

    padding: 10px;
    border-radius: 20px;

    background-color: rgba(25, 30, 41, 0.6);

    box-shadow: 0px 0px 36px 2px rgba(0,0,0,0.79);
    -webkit-box-shadow: 0px 0px 36px 2px rgba(0,0,0,0.79);
    -moz-box-shadow: 0px 0px 36px 2px rgba(0,0,0,0.79);


    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    max-width: 45%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.link {
    text-decoration: underline;
}

.link:hover {
    color: #00ff00;
}

.link {
    position: relative;
    background-image: url("/link.svg");
    background-position: center; /* Center the image */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    /* width: 16px;
    height: 16px; */
    padding-left: 20px;
}

.profile_picture {
    min-width: 250px;
    min-height: 250px;
    position: relative;
    margin: 5px;
}

.profile_picture img {
    width: 100%;
    height: auto;
}

@supports(object-fit: cover){
    .profile_picture img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

@media only screen and (max-width: 600px) {
    .container {
      flex-direction: column;
      height: 750px;
      width: 75vw;
    }
    .content {
        max-width: 95%;
    }
}

