.portfolio {
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;
    align-items: center;
    /* max-height: 500px; */
    margin-top: 10vh;
    margin-right: 5vw;
    margin-left: 5vw;
}

/* https://stackoverflow.com/questions/29546550/flexbox-4-items-per-row */
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
