.portfolio {
    display: flex;
    text-align: center;
    margin-top: auto;
    flex-direction: column;
}

/* https://stackoverflow.com/questions/29546550/flexbox-4-items-per-row */
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 599px) {

    .cards {
        flex-direction: column;
        flex-flow: column wrap;
    }
}